@font-face {
  font-family: "benzin-bold";
  src: url("assets/fonts/benzin-bold.otf");
}

* {
  font-family: "benzin-bold";
  text-align: center;
  background-color: #171614;
  color: white;
}

body {
  padding: 0;
  margin: 0;
}

#click {
  touch-action: none;
}

#click.animate {
  transform: scale(1.1);
  transition: 650ms;
}

#notify.animate {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateY(0)
  }

  100% {
    opacity: 1;
    transform: translateY(-30px)
  }
}

#click {
  background: url('assets/img/chomik.png');
  height: 15em;
  aspect-ratio: 1 / 1;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}